$breakpoint-md: 1023px;
body{
  background-color: #2F303A;
}
.card{
  border: none;
  background-color: #2F303A;
  background: #18181A;
}
#dougnut {
  margin-top: 10vw;
  margin-left: 20vw;
  margin-right: 20vw;
  //margin: 20vw;
  //margin-bottom: 10px ;
  background-color: #2F303A;
  //box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  padding-bottom: 20px;
}
@media only screen and (max-width:$breakpoint-md) {
  #dougnut {
    margin-top: 15vw;
    margin-left: 5vw;
    margin-right: 5vw;
    //margin: 20vw;
    //margin-bottom: 10px ;
    background-color: #2F303A;
    //box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.8);
    border-radius: 15px;
  }
}