body{
  background-color: #2F303A;
}
.card{
  border: none;
  background-color: #2F303A;
}
#dougnut {
  margin: 10px;
  margin-bottom: 10px ;
  background: #3D4950;
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.8);
  border-radius: 15px;
}
